{% extends 'base.html.twig' %}

{% block title %}Offer index{% endblock %}

{% block body %}
  <div class="container"> 
    <h3>Rejoignez une exploitation</h3>

    <p>Choisissez une exploitation où effectuer votre séjour ! En échange d’un travail, vous êtes nourris et loger par l’agriculteur. Profiter du milieu agricole tout en apprenant ! </p>

    <div class="row">
        {% for offer in offers %}

          <div class="col-md-4">
            <div class="card" style="height:460px; margin-bottom: 15px">
              <div style="position: absolute; top: 10px; right: 10px;"><span class="badge text-bg-warning">{{ offer.activity }}</span></div>
              <img src="{{ offer.picture }}" class="card-img-top img-fluid" alt="..."  style="height:260px;">
              <div class="card-body">
                  <h5 class="card-title">{{ offer.title }}</h5>
                  <p class="card-text">{{ offer.description }}</p>
                  <p class="card-text"><small class="text-muted">{{ offer.city }} - {{ offer.department }}</small></p>
                  <a href="{{ path('app_offer_show', {'id': offer.id}) }}" class="btn btn-success btn-sm">plus d'info</a>
              </div>
            </div>
          </div>

        {% endfor %}    
  </div>
{% endblock %}


{# 
                    <a href="{{ path('app_offer_edit', {'id': offer.id}) }}">edit</a>

                    <a href="{{ path('app_offer_new') }}">Create new</a> #}